let localConfig = {
  poolSize : 100,  
  host     : 'localhost',
  port     : '3306',
  database : 'music',
  user     : 'root',
  password : 'root',
};

let herokuConfig2 = {
  poolSize : 100,  
  host     : 'g84t6zfpijzwx08q.cbetxkdyhwsb.us-east-1.rds.amazonaws.com',
  port     : '3306',
  database : 'pfkkfibqs0a08n31',
  user     : 'zefkyc3p6mt96yiw',
  password : 'lnjwlgsfniajtbmy',
};


module.exports = herokuConfig2;
