let localConfig = {
  poolSize : 100,  
  host     : 'localhost',
  port     : '3306',
  database : 'music',
  user     : 'root',
  password : 'root',
};

let herokuConfig = {
  poolSize : 100,  
  host     : 'pk1l4ihepirw9fob.cbetxkdyhwsb.us-east-1.rds.amazonaws.com',
  port     : '3306',
  database : 'vlbvoh4ubtb4b4or',
  user     : 'bjsqc77njr5ulyx6',
  password : 'f40nd2f5tdm2j8m8',
};

module.exports = herokuConfig;
